<section class="landing-section h-screen w-screen flex flex-col justify-between text-center relative overflow-hidden"
data-header-color="black"
>
  <div class="text-black pt-32">
    <h2 class="text-4xl mb-2">Model Y</h2>
    <p class="text-sm underline">Concertar una prueba de conducción</p>
  </div>
  <div class="flex justify-center gap-4">
    <a href="#" class="text-white bg-black/80 hover:bg-black transition-colors duration-300 text-sm px-10 py-2 rounded-sm mb-20 self-center">Explorar inventario</a>
    <a href="#" class="text-black bg-white/80 hover:bg-white transition-colors duration-300 text-sm px-10 py-2 rounded-sm mb-20 self-center">Pedido personalizado</a>
  </div>
  <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center -z-10">
    <img src="https://raw.githubusercontent.com/midudev/landing-tesla/main/public/model-y.webp" alt="Model Y" class="object-cover h-full w-full">
  </div>
</section>