<section class="landing-section h-screen w-screen flex flex-col justify-between text-center relative overflow-hidden"
data-header-color="white"
>
  <div class="text-white pt-32">
    <h2 class="text-4xl mb-2">Disfrute de Tesla</h2>
    <p class="text-sm">Programe una prueba de conducción hoy mismo</p>
  </div>
  <a href="#" class="text-white bg-white/10 hover:bg-white/25 transition-colors duration-300 text-sm px-10 py-2 rounded-sm mb-20 self-center border-2 border-white">Prueba de conducción</a>
  <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center -z-10">
    <video class="object-cover h-full w-full" src="/video.webm" autoplay muted loop playsinline></video>
  </div>
</section>